@charset "utf-8";
/* CSS Document */

h1 {
	text-align:center;
}

ul {
	width:100%;
	padding:0 10px;
	box-sizing: border-box;
	display:flex;
	flex-wrap: wrap;
}

li {
	display:block;
	width:32%;
	margin:10px 0.66%;
	padding:0;
	background-color:dodgerblue;
	border-radius: 15px;
	list-style: none;	
}
	
li:hover {
	background-color:lightseagreen;
}
	
li:active {
	background-color:slategray;
}
	
a {
	display:block;
	width:100%;
	padding:25px;
	box-sizing: border-box;
	text-align:center;
	text-decoration: none;
	color:black;
}
	
